.Counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.counterButton {
    fontsize: 20px;
    background-color: #00a5ab;
    width: 100px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}
.count {
    font-size: 150px;
    line-height: 150px;
}
.resetButton {
    font-size: 25px;
    width: 150px;
    margin-top: 10px;
    padding: 15px;
    color: white;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
    background-color: rgb(73, 13, 134);
}
